<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    
    
    <div class="row">
      <div class="col-3 col-sm-6 col-md-12">
          <h2>Latest Mars News</h2>
          <h3>{{ web_info.title }}</h3>
          <p>{{ web_info.paragraph }}</p>
      </div>
      </div>



    <div class="row">
        <div class="col-sm-8">
          <h2>Featured Image of Mars</h2>
            <img class="img-responsive" src="{{ web_info.mars_img_url }}">
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="col-sm-12 weather-box"
          <h3>Current Weather on Mars</h3>
          <p>{{ web_info.mars_weather }}</p>
          <div class="col-sm-12 box">
          <h3>Mars Facts</h3>
            <p> {{ web_info.mars_facts | safe }}</p>
          </div>

    

  </div>
  </div>
</body>

</html>
